body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    .atm {
        width: 900px;
        height: 900px;
        background-color: rgb(97, 95, 95);
        border-radius: 20px;
        position: relative;
        display: flex;
        flex-direction: row;
        .screen {
            width: 700px;
            height: 600px;
            background-color: white;
            position: absolute;
            margin: 50px 100px;
            display: flex;
            flex-direction: row;

            .nameOfBank {
                width: 100%;
                height: 100px;
                background-color: red;
                display: flex;
                align-items: center;
                
                .text {
                        height: 60px;
                        width: 100%;
                        display: flex;
                        justify-content: center;


                    p {
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-style: normal;
                        font-size: 60px;
                        color: white;
                        margin-top: 0;
                       
                    }
                }
            }
        }
        .buttonsBox {
            width: 90px;
            height: 900px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            
        }
        .boxOfLeftButtons {
            
            .left {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
        .boxOfRightButtons {
            position: absolute;
            right: 0;

            .right {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        .button {
            width: 100%;
            height: 60px;
            background-color: darkgrey;
            margin-bottom: 30px;
           
        }

        .numAndSelButtons {
            width: 500px;
            height: 250px;
            position: absolute;
            top: 650px;
            left: 200px;
            display: flex;
            flex-direction: row;

            .leftPart {
                width: 350px;
                height: 250px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .column {
                    width: 100px;
                    height: 250px;
                }

                .digButton {
                    width: 100px;
                    height: 50px;
                    background-color: darkgrey;
                    margin-top: 10px;
                    border-radius: 5px;
                }
            }

            .rightPart {
                width: 150px;
                height: 250px;

                .selectorButton {
                    width: 150px;
                    height: 60px;
                    background-color: darkgrey;
                    margin-top: 43px;
                    border-radius: 5px;
                }
            }
            
        }
    }
}
